.card {
	border : 0;
}

.h-40 {
	height: 40px;
}

.avatar{
	width: 36px;
	height: 36px;
	object-fit: cover;
}

img .scale-down{
	width: auto;
	object-fit: scale-down;
}

.bg-my-primary{
	background: #7CBFFC;
	color: #fff;
}
.bg-my-warning{
	background: #FFA723;
	color: #fff;
}
.bg-my-danger{
	background: #FF5C5C;
	color: #fff;
}
.bg-my-success{
	background: #02DDBD;
	color: #fff;
}

.btn.bg-my-warning-outline{
	background: transparent;
	color: #FFA723;
	border: 1px solid #FFA723;
	padding: 0 5px 0 5px;
	margin: 5px;
}

.btn.bg-my-danger-outline{
	background: transparent;
	color: #FF5C5C;
	border: 1px solid #FF5C5C;
	padding: 0 5px 0 5px;
	margin: 5px;
}

.form-control.rounded-40{
	border-radius:  40px !important;
	/*border: 0;*/
	padding-left:  20px;
}

.avatar-text{
	font-size: .8rem !important;
}


.form-group .icon-search {
    position: absolute;
    z-index: 2;
    right: 20px;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.pointer{
	cursor:  pointer ;
}

.text-sm-left{
	text-align: left
}

.hi-100{
	height: 100px;
}

.h-200{
	height: 200px;
}

.line-strip{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 5px 5px 0 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.rightLst:hover{
	color: #7CBFFC;
}

.card-img-top{
	height: 100px;
	object-fit: cover;
}

.item .card .card-body{
	padding: .2rem;
}

.item .card{
	/*border: .5px solid #C6C6C6;*/
}

/*Text Section*/
.text-my-primary{
	color: #7CBFFC;
}
.text-my-warning{
	color: #FFA723;
}
.text-my-danger{
	color: #FF5C5C;
}
.text-my-success{
	color: #02DDBD;
}
.text-my-subtitle{
	/*color: #7CBFFC;*/
	font-size: .8rem;
}
.text-10{
	font-size: 10px;
}
.text-18{
	font-size: 18px;
}
.text-24{
	font-size: 24px;
}
/*End Text Section*/

.p-0{
	padding: 0 !important;
}

.strip-primary{
	position: absolute;
	bottom: 5px;
	width: 100px;
	height: 5px;
	background: #7CBFFC;
	border-radius:  5px;
}

.log-title{
	font-size: 	14px !important ;
}

.log-detail{
	font-size: 	14px !important ;
}

.log-things{
	font-size: 	12px !important ;
}

.log-price{
	font-size: 	14px !important ;
}
.log-buyer{
	font-size: 	12px !important ;
}

.h-30{
	height: 30px;
}

.icon-search{
	position: absolute;
	z-index: 2;
	right: 25px;
}

.flex-last{
	justify-content: flex-end;
}

.text-14{
	font-size: 14px;
}

.card-body.dashboard {
	padding: .5rem 1rem .5rem 1rem;
}

.form-control {
	font-size: .85rem;
}
.icon-large {
    font-size: 88px;
}
.card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.garis {
    border-right: 1px solid black;
}

#calendar{
	font-size: .8rem;
}

small, .small {
    font-size: .7rem;
    font-weight: 400;
}

body .card{
	font-size: .8rem !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
	overflow-x: hidden;
}

body .dropdown-item{
	font-size: .8rem !important;
}

/* .card::after{
	position: absolute;
	content: '';
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 5px;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
} */
/* .card::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 101;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
} */

@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}

.card.stop::before{
	content: none;
}

.card.stop::after{
	content: none;
}

.card-header {
	background: #fff;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}


.fr-absolute {
	position:  absolute;
	float:  right;
	right:  0;
}

/*.carousel-item{
	height: 100%;
}
*/
.carousel-inner{
	/*height: 300px;*/
    border-radius: 5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	display: flex;
}

.carousel-control-next-icon {
	/*background: none;*/
    background-image: url('../images/arrow_right.svg');
}
.carousel-control-next-icon::before {
    content: '';
    position: absolute;
    background: #FFA723;
    border-radius: 50%;
    color: #fff;
    z-index: -1;
    /*left: 73px;*/
    height: 20px;
    width: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.carousel-control-prev-icon {
	/*background: none;*/
    background-image: url('../images/arrow_left.svg');
}
.carousel-control-prev-icon::before {
    content: '';
    position: absolute;
    background: #FFA723;
    border-radius: 50%;
    color: #fff;
    z-index: -1;
    /*left: 74px;*/
    height: 20px;
    width: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


/*.dropdown-menu.show{
    left: 20px !important;
    top: -10px !important;
}*/

@media (max-width: 768px) {
	.text-sm-center{
		text-align: center
	}
	.d-my-none{
		display: none !important;
	}
}
